@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

:root {
    --background: #0d0615;
    --foreground: #ffffff;
}

body {
    font-family: 'Charm', cursive;
    background-color: var(--background);
    color: var(--foreground);
}